VITE_SUPABASE_URL=https://odubwfwoxtturgromhin.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kdWJ3ZndveHR0dXJncm9taGluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUxNzA4MDAsImV4cCI6MjA2MDc0NjgwMH0.z_I60RhpFqYuazSf_jEoPAyN9PPFe1AEvL_zWo8FvWA
